{% extends 'base.html' %}

{% block titulo %}Início — Sistema IMC{% endblock %}

{% block conteudo %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P1 - Calculadora</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand fw-bold" href="/">Calculadora</a>
    
          <button class="navbar-toggler" type="button"
                  data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/formulario">Formulário</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
</body>

<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
      <small>
        &copy; 2026 - Programação para Internet
      </small>
    </div>
  </footer>

</html>